<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiao.weather.dao.predefinedcode.PredefinedCodeDao">

	<!-- resultMap begin -->
	<resultMap type="PredefinedCode" id="PredefinedCodeResultMap">
				<!-- 0 --><result property="id"  column="id" />
		<!-- 1 --><result property="creatorName"  column="creator_name" />
		<!-- 2 --><result property="updaterName"  column="updater_name" />
		<!-- 3 --><result property="createdTime"  column="created_time" />
		<!-- 4 --><result property="updatedTime"  column="updated_time" />
		<!-- 5 --><result property="lockVersion"  column="lock_version" />
		<!-- 6 --><result property="code"  column="code" />
		<!-- 7 --><result property="value"  column="value" />
		<!-- 8 --><result property="description"  column="description" />

	</resultMap>

	<resultMap type="PredefinedCodeVo" id="PredefinedCodeVoResultMap">
				<!-- 0 --><result property="id"  column="id" />
		<!-- 1 --><result property="creatorName"  column="creator_name" />
		<!-- 2 --><result property="updaterName"  column="updater_name" />
		<!-- 3 --><result property="createdTime"  column="created_time" />
		<!-- 4 --><result property="updatedTime"  column="updated_time" />
		<!-- 5 --><result property="lockVersion"  column="lock_version" />
		<!-- 6 --><result property="code"  column="code" />
		<!-- 7 --><result property="value"  column="value" />
		<!-- 8 --><result property="description"  column="description" />

	</resultMap>
	<!-- resultMap end -->

	<!-- CRUD begin -->
	<insert id="insert">
				insert into predefined_code(
		<!-- 0 -->creator_name,
		<!-- 1 -->updater_name,
		<!-- 2 -->created_time,
		<!-- 3 -->updated_time,
		<!-- 4 -->lock_version,
		<!-- 5 -->code,
		<!-- 6 -->value,
		<!-- 7 -->description
		) 
		values(
		<!-- 0 -->#{creatorName},
		<!-- 1 -->#{updaterName},
		<!-- 2 -->#{createdTime},
		<!-- 3 -->#{updatedTime},
		<!-- 4 -->#{lockVersion},
		<!-- 5 -->#{code},
		<!-- 6 -->#{value},
		<!-- 7 -->#{description}
		)
		<selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
 			select LAST_INSERT_ID()
		</selectKey>

	</insert>

	<update id="update">
			 update predefined_code
		<include refid="updateSetSql" />
		where id=#{id} and lock_version=#{lockVersion}
	</update>

	<sql id="updateSetSql">
		<set>
					<if test="creatorName!=null and creatorName!='' ">
		<!-- 0 -->creator_name=#{creatorName},
		</if>
		<if test="updaterName!=null and updaterName!='' ">
		<!-- 1 -->updater_name=#{updaterName},
		</if>
		<if test="createdTime!=null">
		<!-- 2 -->created_time=#{createdTime},
		</if>
		<if test="updatedTime!=null">
		<!-- 3 -->updated_time=#{updatedTime},
		</if>
		<!-- 4 -->lock_version=#{lockVersion}+1,
		<if test="code!=null and code!='' ">
		<!-- 5 -->code=#{code},
		</if>
		<if test="value!=null and value!='' ">
		<!-- 6 -->value=#{value},
		</if>
		<if test="description!=null and description!='' ">
		<!-- 7 -->description=#{description}
		</if>

		</set>
	</sql>

	<delete id="delete">
		delete from predefined_code where id = #{id}
	</delete>

	<select id="find" resultMap="PredefinedCodeResultMap">
		select * from predefined_code where id
		= #{id}
	</select>

	<select id="findVo" resultMap="PredefinedCodeVoResultMap">
		select * from predefined_code where
		id = #{id}
	</select>

	<select id="selectBySo" resultMap="PredefinedCodeResultMap">
		select t.* from predefined_code t
		<include refid="soSqlFilter" />
	</select>

	<select id="selectVoBySo" resultMap="PredefinedCodeVoResultMap">
		select t.* from predefined_code t
		<include refid="soSqlFilter" />
	</select>

	<select id="selectCountBySo" resultType="int">
		select count(1) from predefined_code t
		<include refid="soSqlFilter" />
	</select>

	<delete id="deleteByIds" parameterType="map">
		delete from predefined_code t where t.id in
		<foreach collection="list" index="dex" item="item" open="("
			close=")" separator=",">
			#{item}
		</foreach>
	</delete>

	<delete id="deleteByIdList">
		delete from predefined_code t where t.id in
		<foreach collection="list" index="dex" item="item" open="("
			close=")" separator=",">
			#{item}
		</foreach>
	</delete>

	<select id="selectVoByIdList" resultMap="PredefinedCodeVoResultMap">
		select * from predefined_code t where t.id in
		<foreach collection="list" index="dex" item="item" open="("
			close=")" separator=",">
			#{item}
		</foreach>
	</select>

	<select id="selectByIdList" resultMap="PredefinedCodeResultMap">
		select * from predefined_code t where t.id in
		<foreach collection="list" index="dex" item="item" open="("
			close=")" separator=",">
			#{item}
		</foreach>
	</select>

	<sql id="soSqlFilter">
		<where>
					<if test="creatorName !=null ">
			 and t.creator_name = #{creatorName}
		</if>
		<if test="updaterName !=null ">
			 and t.updater_name = #{updaterName}
		</if>
		<if test="code !=null ">
			 and t.code = #{code}
		</if>
		<if test="value !=null ">
			 and t.value = #{value}
		</if>
		<if test="description !=null ">
			 and t.description = #{description}
		</if>

		</where>
	</sql>
	<!-- CRUD end -->

	<!-- business begin -->
	<select id="findByCode" resultMap="PredefinedCodeResultMap">
		select * from predefined_code where code = #{code}
	</select>
	<!-- business end -->
</mapper>
