<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiao.weather.dao.role.RoleDao">

	<!-- resultMap begin -->
	<resultMap type="Role" id="RoleResultMap">
				<!-- 0 --><result property="id"  column="id" />
		<!-- 1 --><result property="creatorName"  column="creator_name" />
		<!-- 2 --><result property="updaterName"  column="updater_name" />
		<!-- 3 --><result property="createdTime"  column="created_time" />
		<!-- 4 --><result property="updatedTime"  column="updated_time" />
		<!-- 5 --><result property="lockVersion"  column="lock_version" />
		<!-- 6 --><result property="roleName"  column="role_name" />
		<!-- 7 --><result property="roleCode"  column="role_code" />
		<!-- 8 --><result property="description"  column="description" />

	</resultMap>

	<resultMap type="RoleVo" id="RoleVoResultMap">
				<!-- 0 --><result property="id"  column="id" />
		<!-- 1 --><result property="creatorName"  column="creator_name" />
		<!-- 2 --><result property="updaterName"  column="updater_name" />
		<!-- 3 --><result property="createdTime"  column="created_time" />
		<!-- 4 --><result property="updatedTime"  column="updated_time" />
		<!-- 5 --><result property="lockVersion"  column="lock_version" />
		<!-- 6 --><result property="roleName"  column="role_name" />
		<!-- 7 --><result property="roleCode"  column="role_code" />
		<!-- 8 --><result property="description"  column="description" />

	</resultMap>
	<!-- resultMap end -->

	<!-- CRUD begin -->
	<insert id="insert">
				insert into role(
		<!-- 0 -->creator_name,
		<!-- 1 -->updater_name,
		<!-- 2 -->created_time,
		<!-- 3 -->updated_time,
		<!-- 4 -->lock_version,
		<!-- 5 -->role_name,
		<!-- 6 -->role_code,
		<!-- 7 -->description
		) 
		values(
		<!-- 0 -->#{creatorName},
		<!-- 1 -->#{updaterName},
		<!-- 2 -->#{createdTime},
		<!-- 3 -->#{updatedTime},
		<!-- 4 -->#{lockVersion},
		<!-- 5 -->#{roleName},
		<!-- 6 -->#{roleCode},
		<!-- 7 -->#{description}
		)
		<selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
 			select LAST_INSERT_ID()
		</selectKey>

	</insert>

	<update id="update">
			 update role
		<include refid="updateSetSql" />
		where id=#{id} and lock_version=#{lockVersion}
	</update>

	<sql id="updateSetSql">
		<set>
					<if test="creatorName!=null and creatorName!='' ">
		<!-- 0 -->creator_name=#{creatorName},
		</if>
		<if test="updaterName!=null and updaterName!='' ">
		<!-- 1 -->updater_name=#{updaterName},
		</if>
		<if test="createdTime!=null and createdTime!='' ">
		<!-- 2 -->created_time=#{createdTime},
		</if>
		<if test="updatedTime!=null and updatedTime!='' ">
		<!-- 3 -->updated_time=#{updatedTime},
		</if>
		<!-- 4 -->lock_version=#{lockVersion}+1,
		<if test="roleName!=null and roleName!='' ">
		<!-- 5 -->role_name=#{roleName},
		</if>
		<if test="roleCode!=null and roleCode!='' ">
		<!-- 6 -->role_code=#{roleCode},
		</if>
		<if test="description!=null and description!='' ">
		<!-- 7 -->description=#{description}
		</if>

		</set>
	</sql>

	<delete id="delete">
		delete from role where id = #{id}
	</delete>

	<select id="find" resultMap="RoleResultMap">
		select * from role where id
		= #{id}
	</select>

	<select id="findVo" resultMap="RoleVoResultMap">
		select * from role where
		id = #{id}
	</select>

	<select id="selectBySo" resultMap="RoleResultMap">
		select t.* from role t
		<include refid="soSqlFilter" />
	</select>

	<select id="selectVoBySo" resultMap="RoleVoResultMap">
		select t.* from role t
		<include refid="soSqlFilter" />
	</select>

	<select id="selectCountBySo" resultType="int">
		select count(1) from role t
		<include refid="soSqlFilter" />
	</select>

	<delete id="deleteByIds" parameterType="map">
		delete from role t where t.id in
		<foreach collection="list" index="dex" item="item" open="("
			close=")" separator=",">
			#{item}
		</foreach>
	</delete>

	<delete id="deleteByIdList">
		delete from role t where t.id in
		<foreach collection="list" index="dex" item="item" open="("
			close=")" separator=",">
			#{item}
		</foreach>
	</delete>

	<select id="selectVoByIdList" resultMap="RoleVoResultMap">
		select * from role t where t.id in
		<foreach collection="list" index="dex" item="item" open="("
			close=")" separator=",">
			#{item}
		</foreach>
	</select>

	<select id="selectByIdList" resultMap="RoleResultMap">
		select * from role t where t.id in
		<foreach collection="list" index="dex" item="item" open="("
			close=")" separator=",">
			#{item}
		</foreach>
	</select>

	<sql id="soSqlFilter">
		<where>
					<if test="creatorName !=null ">
			 and t.creator_name = #{creatorName}
		</if>
		<if test="updaterName !=null ">
			 and t.updater_name = #{updaterName}
		</if>
		<if test="roleName !=null ">
			 and t.role_name = #{roleName}
		</if>
		<if test="roleCode !=null ">
			 and t.role_code = #{roleCode}
		</if>
		<if test="description !=null ">
			 and t.description = #{description}
		</if>

		</where>
	</sql>
	<!-- CRUD end -->

	<!-- business begin -->
	<!-- business end -->
</mapper>
